.custom-block__swatch.custom-design_label {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  margin: 0;
  background-color: rgba(232, 236, 238, 1);
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px rgba(46, 66, 71, 0.3););
  color: rgba(26, 26, 26, 1);
}
.custom-variants__container input[type="radio"]:checked + label {
  background: red;
  cursor: default;
  background-color: rgba(46, 66, 71, 1);
  color: white;
  box-shadow: inset 0 0 0 2px rgba(46, 66, 71, 1);););););
}
.bundle__bar-grid {
  padding: 10px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}
.custom_label_title {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 2px;
  font-size: 20px;
}
.bundle__bar-grid img {
  max-width: 60px;
}
.bundle__bar-title {
  flex: 1 1 auto;
}
.custom_badge.most_popular {
  margin: 0 8px;
  padding: 6px 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 140, 69, 1);
  position: absolute;
  top: -12px;
  right: 10px;
}
.custom_label_free-gift {
  display: flex;
  align-items: center;
  margin-inline: 1px;
  padding-block: 7px;
  padding-inline: 8px;
  gap: 10px;
  background-color: rgba(133, 193, 185, 0);
  font-size: 14px;
}
.custom_label_free-gift img {
  max-width: 28px;
}
.custom_label_free-shipping {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #85c1b9 !important;
  gap: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  padding: 2px 0;
  font-size: 13.5px;
}
.custom-variant_item {
  margin-bottom: 15px;
}
.custom_label_free-shipping img {
  max-width: 20px;
}
.custom_price_regular {
  color: #08AD18;
  font-weight: bold;
  font-size: 18px;
}
.custom_price_compare {
  text-decoration: line-through;
  color: rgba(156, 156, 156, 1);
  font-size: 18px;
}
.price_per_kit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 4px 8px;
  word-break: break-word;
  background-color: rgba(133, 193, 185, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-weight: normal;
  border-radius: 8px;
}
@media (max-width: 600px) {
  .custom_label_title {
    gap: 10px;
    flex-wrap: wrap;
    row-gap: 4px;
    font-size: 16px;
  }
  .bundle__bar-grid {
    font-size: 12px;
    gap: 10px;
    padding: 10px;
    padding-bottom: 0;
  }
  .custom_sub_label_title {
    word-break: break-all;
  }
  .custom_price_compare, .custom_price_regular {
    font-size: 14px;
  }
  .custom_label_free-gift {
    font-size: 12px;
  }
  .custom_label_free-shipping {
    font-size: 11.5px;
  }
}